/* :root {
  --font-base: 1rem;
  --margin: 1rem;
  --green-color: #03cf5d;
  --border-color: #dadada;
  --focus-color: #eef6ff;
  --font-size-small: 0.75rem;
  --font-size-base: 1rem;
  --input-height: 3rem;
  --button-height: 2.8125rem;
  --button-width: 460px;
  --input-padding: 1rem;
  --error-color: red;
}

body {
  margin: 0;
}

.screenReaderOnly {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  border-width: 0;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
}

.loginComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.25rem;
  margin-top: 5rem;
}

.loginForm {
  width: 100%;
}

.loginLogo {
  width: 230px;
}

.loginButton,
.loginFormInput {
  width: 100%;
  box-sizing: border-box;
}

.loginButton {
  height: var(--button-height);
  background-color: var(--green-color);
  color: #fff;
  font-size: var(--font-size-base);
  margin-top: 1.25rem;
  padding: 0;
  border: 0;
}

.loginFormInput {
  height: var(--input-height);
  padding: var(--input-padding);
  margin-top: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
}

.loginFormInput:focus {
  border-color: var(--green-color);
  outline: none;
  background-color: var(--focus-color);
}

.idErrorMessage,
.pwErrorMessage {
  color: var(--error-color);
  font-size: var(--font-size-small);
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  display: none;
}

.loginFormInput:invalid:not(placeholder-shown) + .idErrorMessage,
.loginFormInput:invalid:not(placeholder-shown) + .pwErrorMessage {
  display: block;
}

.loginFormInput:placeholder-shown + .idErrorMessage,
.loginFormInput:placeholder-shown + .pwErrorMessage {
  display: none !important;
}

.subOptionComponent {
  margin-top: 0.625rem;
  float: right;
}

.keepLoginComponent {
  display: flex;
  align-items: center;
}

.keepLoginCheckbox {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin-right: 5px;
  appearance: none;
  background-image: url('../images/unchecked.svg');
}

.keepLoginCheckbox:checked {
  background-image: url('../images/checked.svg');
}

.keepLoginText {
  margin: 0;
  user-select: none;
  pointer-events: none;
}

.ipSecurityComponent {
  display: none;
}

@media (min-width: 768px) {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .loginButton,
  .loginFormInput {
    width: var(--button-width);
  }

  .subOptionComponent {
    width: var(--button-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ipSecurityComponent {
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);
  }

  .ipSecurityOptionText {
    color: #121212;
    text-decoration: none;
  }

  .ipSecurityOptionText {
    margin-right: 0.5rem;
  }

  .ipSecurityToggle {
    display: none;
  }

  .ipSecurityOn {
    display: none;
    color: var(--green-color);
    cursor: pointer;
  }

  .ipSecurityOff {
    display: inline;
    cursor: pointer;
  }

  .ipSecurityCheckbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  #ipSecurityOnOff:focus-visible + .ipSecurityToggleLabel span {
    outline: 2px solid black;
    border-radius: 3px;
  }

  .ipSecurityCheckbox:checked + .ipSecurityToggleLabel .ipSecurityOn {
    display: inline;
  }

  .ipSecurityCheckbox:checked + .ipSecurityToggleLabel .ipSecurityOff {
    display: none;
  }
} */

:root {
  --font-base: 1rem;
  --margin: 1rem;
  --green-color: #03cf5d;
  --border-color: #dadada;
  --focus-color: #eef6ff;
  --font-size-small: 0.75rem;
  --font-size-base: 1rem;
  --input-height: 3rem;
  --button-height: 2.8125rem;
  --button-width: 460px;
  --input-padding: 1rem;
  --error-color: red;
}

body {
  margin: 0;
}

.screenReaderOnly {
  position: absolute;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(100%);
  white-space: nowrap;
  border-width: 0;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
}

.loginComponent {
  margin: 1.25rem;
  margin-top: 5rem;
  text-align: center; /* Center content inside the component */
}

.loginForm {
  width: 100%;
  margin: 0 auto;
}

.loginLogo {
  width: 230px;
  margin: 0 auto; /* Center the logo */
}

.loginButton,
.loginFormInput {
  width: 100%;
  box-sizing: border-box;
  user-select: none;
}

.loginButton {
  height: var(--button-height);
  background-color: var(--green-color);
  color: #fff;
  font-size: var(--font-size-base);
  margin-top: 1.25rem;
  padding: 0;
  border: 0;
}

.loginFormInput {
  height: var(--input-height);
  padding: var(--input-padding);
  margin-top: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
}

.loginFormInput:focus {
  border-color: var(--green-color);
  outline: none;
  background-color: var(--focus-color);
}

.idErrorMessage,
.pwErrorMessage {
  color: var(--error-color);
  font-size: var(--font-size-small);
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  display: none;
}

.loginFormInput:invalid:not(placeholder-shown) + .idErrorMessage,
.loginFormInput:invalid:not(placeholder-shown) + .pwErrorMessage {
  display: block;
}

.loginFormInput:placeholder-shown + .idErrorMessage,
.loginFormInput:placeholder-shown + .pwErrorMessage {
  display: none !important;
}

.subOptionComponent {
  float: right;
  margin-top: 0.625rem;
  text-align: right;
  user-select: none;
}

.keepLoginComponent {
  height: 24px;
  float: left;
}

.keepLoginCheckbox {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  margin: 0;
  vertical-align: top;
  margin-right: 5px;
  appearance: none;
  background-image: url('../images/unchecked.svg');
}

.keepLoginCheckbox:checked {
  background-image: url('../images/checked.svg');
}

.keepLoginText {
  vertical-align: baseline;
  margin: 0;
}

.ipSecurityComponent {
  display: none;
}

@media (min-width: 768px) {
  .loginForm {
    width: var(--button-width);
  }

  .loginButton,
  .loginFormInput {
    width: var(--button-width);
  }

  .subOptionComponent {
    width: var(--button-width);
  }

  .ipSecurityComponent {
    display: inline-block;
    font-size: var(--font-size-base);
  }

  .ipSecurityOptionText {
    color: #121212;
    text-decoration: none;
  }

  .ipSecurityOptionText {
    margin-right: 0.5rem;
  }

  .ipSecurityToggle {
    display: none;
  }

  .ipSecurityOn {
    display: none;
    color: var(--green-color);
    cursor: pointer;
  }

  .ipSecurityOff {
    display: inline;
    cursor: pointer;
  }

  .ipSecurityCheckbox {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  #ipSecurityOnOff:focus-visible + .ipSecurityToggleLabel span {
    outline: 2px solid black;
    border-radius: 3px;
  }

  .ipSecurityCheckbox:checked + .ipSecurityToggleLabel .ipSecurityOn {
    display: inline;
  }

  .ipSecurityCheckbox:checked + .ipSecurityToggleLabel .ipSecurityOff {
    display: none;
  }
}
